@page "/fetchdata"


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    @*  
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
     *@
    <Grid Items="forecasts" TItem="WeatherForecast">
        <Header>
          <th>Date</th>  
          <th>Temp. (C)</th>
          <th>Temp. (F)</th>
          <th>Summary</th>
        </Header>
        <Row Context="forecast">
            <!-- by default called context-->
            <td>@forecast.Date.ToShortDateString()</td>
            <td>@forecast.TemperatureC</td>
            <td>@forecast.TemperatureF</td>
            <td>@forecast.Summary</td>
        </Row>
        <Footer>
           <td colspan="4"> Summer times!</td>
        </Footer>
    </Grid>
}

@code {
    public List<WeatherForecast>forecasts;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        forecasts = new List<WeatherForecast>();
        forecasts.Add(new WeatherForecast
        {
            Date = new DateTime(2021, 7, 31),
            TemperatureC = 20,
            Summary = "Too cold for summer!"
        });
           forecasts.Add(new WeatherForecast
        {
            Date = new DateTime(2021, 8, 1),
            TemperatureC = 22,
            Summary = "Too cold for summer!"
        });

           forecasts.Add(new WeatherForecast
        {
            Date = new DateTime(2021, 8,2),
            TemperatureC = 25,
            Summary = "Starting... To get better!"
        });

    }


}
